.timeline {
    padding: 0 !important;
}

/* header title  */

.timeline .timeline_header {
    padding-top: 7px;
}

.timeline .timeline_firstItem {
    min-height: 80px !important;
}

.timeline .MuiTimelineItem-root {
    min-height: 0px;   
}

